// imports
@import url( 'https://fonts.googleapis.com/css?family=Lato:300,400,700'); // variables
$font: 'Lato', sans-serif;
$c: ( grey:#9eb2c0, midnight:#2e3641, remove:#d32, );

table,
tbody,
td,
tfoot,
th,
thead,
tr {
    display: block;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    border-collapse: inherit;
    border-spacing: 0;
    border-color: inherit;
    vertical-align: inherit;
    text-align: left;
    font-weight: inherit;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}

td,
th {
    display: inline;
}

button {
    /*Reset's every elements apperance*/
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #26589F;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    &:focus {
        outline: none;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $font;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #E9F0F4;
}

table {
    width: 100%;
    max-width: 500px;
    flex-direction: column;
    box-shadow: 0 0 15px 3px rgba(0,0,0,.4);
    color: map-get($c,midnight);

    thead {
        background: #222D32;
        border: none;
        width: 100%;

        td {
            padding: 15px 0;
            color: #fff;
            font-weight: bold;
            color: map-get($c,grey);
        }
    }

    tr {
        width: 100%;
        display: flex;
        height: 50px;

        &.disabled {
            color: rgba(map-get($c,grey),.5) !important;

            td:nth-child(2) {
                text-decoration: line-through;

                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 40px;
                    height: 5px;
                    background: rgba(map-get($c,grey),.5);
                }
            }
        }
    }

    tbody,
    tfoot {
        background: #fff;
    }

    tbody tr {
        border-bottom: 1px solid rgba(map-get($c,grey),.5);
    }

    tbody td,
    tfoot td {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            width: 400px;
        }

        &:nth-child(2) {
            &.disabled {
                text-decoration: line-through;
                color: rgba(map-get($c,grey),.5) !important;
            }
        }
    }

    td {
        &:nth-child(1) {
            flex-basis: 10%;
            position: relative;
            border-right: 1px solid rgba(map-get($c,grey),.5);

            &:before {
                content: " ";
                position: absolute;
                z-index: 1;
                top: 0;
                left: 5px;
                right: 5px;
                bottom: 0;
                border-right: 1px solid rgba(map-get($c,grey),.5);
            }
        }

        &:nth-child(2) {
            flex-basis: 90%;
            justify-content: flex-start;
            margin-left: 10px;
            position: relative;

            button {
                position: absolute;
                right: 10px;
                top: 0;
                height: 50px;

                &:hover {
                    i {
                        color: map-get($c,remove);
                    }
                }

                i {
                    font-size: 1.5em;
                    color: map-get($c,midnight);
                    cursor: pointer;
                }
            }
        }

        input[type=checkbox] {
            cursor: pointer;
            z-index: 2;
        }

        input[type=text] {
            width: 100%;
            height: 50px;
            border: none;
            padding: 0;
            font-family: $font;

            &:focus {
                outline: none;
            }
        }
    }
}

.grey {
    color: map-get($c,grey);
}

.remove {
    z-index: 20;
}

.plus {
    font-size: 1.5em;
    cursor: pointer;
}
